extends layout.pug
block content
    - var text = 'Multos fabulas ubi eruditionem, nulla eiusmod occaecat. Consequat ea quem. Ita an voluptatibus te tamen de ingeniis, fore adipisicing mandaremus quid nostrud ita aut commodo firmissimum, et fugiat coniunctione o admodum a ipsum possumus, nescius o velit ex malis nescius sed ullamco. Mentitum summis senserit, quo minim deserunt in offendit familiaritatem ab cupidatat ita summis probant illustriora.Quamquam esse qui quamquam reprehenderit id quid aliquip philosophari. In multos quibusdam, eram efflorescere doctrina noster admodum ea  probant malis fugiat laborum labore se fabulas praetermissum ad excepteur. Aut nisi dolor tamen arbitror.'
    section.contenedor
        div.blog-contenedor
            if(posts.length)
                each post in posts
                    article.blog-item__presentation
                        img.blog-item__presentation-graphic(src=`/images/dashboard/post/${post.image}`)
                        div.blog-item__presentation-content
                            a.fline-height.blog-item__presentation-title(href="/blog/"+post.id)= post.title
                            p.fline-height.blog-item__presentation-publisher By: #{post.nombre_usuario}
                            p.blog-item__presentation-description= post.content.substr(0,400) + '...'
                            div.blog-item__presentation-manegePost
                                p.fline-height.blog-item__presentation-hour-publish(data-date= post.created_at)
                                p.fline-height.blog-item__presentation-comments 2 comments
                                div.blog-item__presentation-ranking
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.fas.fa-star
                                    i.far.fa-star
                                div.blog-item__presentation-socialnetwork
                                    a(href='#')
                                        i.fab.fa-facebook-f
                                    a(href='#')
                                        i.fab.fa-twitter
                                    a(href='#')
                                        i.fab.fa-google-plus
            else
                div.message-posts
                    p.message-posts_text No hay publicaciones para mostrar.
                    i.far.fa-frown
    script.
        const parraphAgoP = document.querySelectorAll(".blog-item__presentation-hour-publish");
        parraphAgoP.forEach(function(element){
            let date = moment(element.dataset.date);
            element.innerHTML = date.locale('es').startOf('day').fromNow()+", "+date.locale('es').endOf('day').fromNow();
        })
