doctype html
html(lang="es")
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title= title
		link(rel='preload' href='../css/normalize.css' as='style')
		link(rel='stylesheet' href='../css/normalize.css')
		link(rel='preload' href='https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Pacifico&display=swap' crossorigin='crossorigin' as='font')
		link(href='https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Pacifico&display=swap' rel='stylesheet')
		link(rel='preload' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css' crossorigin='anonymous' as='style')
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css' crossorigin='anonymous')
		link(rel='preload' href='../css/styles.css' as='style')
		link(rel='stylesheet' href='../css/styles.css')
	body.body-dashboard
		//- header.header
			.contenedor.header-contenedor
				.logo
					a.no-margin.logo__title(href='/') introspect
				nav.navigation
					a.navigation__link(href='#') Home
					a.navigation__link(href='#') Generic
					a.navigation__link(href='#') Elements
					a.navigation__link(href='/home/logout')
						i.fa-solid.fa-arrow-right-from-bracket
		section.dashboard-contenedor
			div.dashboard-panel-left
				.logo
					a.no-margin.logo__title(href='/') introspect
				ul.dashboard-navigation
					a.dashboard-navigation-link(href="#")
						i.fa-solid.fa-house-chimney
						| Home
					a.dashboard-navigation-link(href="#")
						i.fa-solid.fa-bars-progress
						| Workflow
					a.dashboard-navigation-link(href="#")
						i.fa-solid.fa-chart-simple
						| Stadistics
					a.dashboard-navigation-link(href="#")
						i.fa-solid.fa-user
						| User
					a.dashboard-navigation-link(href="#")
						i.fa-solid.fa-calendar-days
						| Calendar
			div.dashboard-panel-contenedor
				div.dashboard-panel__header
					form.dashboard-panel__form(action="/", method="GET")
						input.dashboard-panel__form-input(type="text", name="search-dashboard_txt", id="search-dashboard", placeholder="Search", required)
					div.dashboard-panel__header-options
						a.dashboard-panel__header-btn(href="#")
							i.fa-solid.fa-plus
							| Agregar Proyecto
						div.dashboard-panel__header-message
							a.icon(href="#")
								i.fa-solid.fa-envelope
							div.dashboard-panel__header-message_panel(style="display:none;")
								ol
									li Hueso Carnudo
									li Hueso de Pollo
									li Papa guata
									li Papa yema de huevo
									li Sandias
						div.dashboard-panel__header-notification
							a.icon(href="#")
								i.fa-solid.fa-bell
							div.dashboard-panel__header-notification_panel(style="display:none;")
								ol
									li Hueso Carnudo
									li Hueso de Pollo
									li Papa guata
									li Papa yema de huevo
									li Sandias
						div.dashboard-panel__header-user
							a(href="#", id="user-r").dashboard-panel__header-user-link
								img.imagen-avatar(src="/images/avatar.png")
								b.caret
							div.dashboard-panel__header-user-menu
								b.name #{data.first_name} #{data.last_name}
								p.username #{data.user_name}
								a(href="#sfsdfsd").dashboard-panel__header-btn.username-btn Ver Perfil
		script.
			(function(c, d){
				const userR = d.querySelector("#user-r"),
					panelUserMenu = d.querySelector(".dashboard-panel__header-user-menu");

				userR.addEventListener("click", function(e){
					e.preventDefault();
					panelUserMenu.classList.toggle("showPanMenu")
				});
			})(console.log, document);
