extends dashboard.pug

block content
    section.editPage-contenedor
        button.editPage-button.editPage-button__somos(onclick="redirectToPageSomos();") Editar seción de Somos
        button.editPage-button.editPage-button__users(onclick="redirectToPageUser();") Administrar usuarios
        button.editPage-button.editPage-button__posts(onclick="redirectToPagePost();") Validar publicaciones
        button.editPage-button.editPage-button__emails(onclick="redirectToPageEmail();") Administrar Correos
    script.
        function redirectToPageSomos(){
            window.location.pathname = "/home/somos-edit-information";
        }
        function redirectToPageUser(){
            window.location.pathname = "/home/administrator-users";
        }
        function redirectToPagePost(){
            window.location.pathname = "/home/administrator-post";
        }
        function redirectToPageEmail(){
            window.location.pathname = "/home/administrator-email";
        }
