doctype html
html(lang="es")
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title Introspect
		link(rel='preload' href='css/normalize.css' as='style')
		link(rel='stylesheet' href='css/normalize.css')
		link(rel='preload' href='https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Pacifico&display=swap' crossorigin='crossorigin' as='font')
		link(href='https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Pacifico&display=swap' rel='stylesheet')
		link(rel='preload' href='https://use.fontawesome.com/releases/v5.12.1/css/all.css' crossorigin='anonymous' as='font')
		link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.12.1/css/all.css' crossorigin='anonymous')
		link(rel='preload' href='css/styles.css' as='style')
		link(rel='stylesheet' href='css/styles.css')
	body
		header.header
			.contenedor.header-contenedor
				.logo
					a.no-margin.logo__title(href='index.html')
						| introspect
				nav.navigation
					a.navigation__link(href='#') Home
					a.navigation__link(href='#') Generic
					a.navigation__link(href='#') Elements
		section.banner-bg
			.contenedor.contenedor-banner
				h2.no-margin.banner-bg__title
					| Introspect: 
					span.banner-bg__span
						| A free + Fully Responsive
						br
						| Site Template By Templated
				a.boton(href='#') Get Started
		.contenedor.entrada
			h3.no-margin.entrada__title Neque porro quisquam
			p.no-margin.entrada__description.textos
				| Quisque et est vel odio euismod bibendum vel at nulla. Morbi at ornare sapien. Pellentesque cursus aliquet mauris, vel porttitor lectus hendrerit non. Aenean tellus nulla, malesuada et pulvinar quis, gravida et dui. Aenean neque elit, tincidunt in risus id, faucibus tempus turpis. Integer in purus tristique, viverra arcu vel, vehicula tellus. Aenean sit amet gravida justo. Vivamus ultricies blandit felis, eget tristique nisi tincidunt vitae. Nulla ac cursus mi. Phasellus eget ipsum nunc. Pellentesque viverra condimentum imperdiet.
			a.boton.boton--secundario(href='#') Learn More
		section.read-articles
			.read-articles__contenedor
				article.read-articles__article
					.read-articles__d1
						h4.read-articles__title In hac habitasse platea
						.read-articles__imagen
							img(src='images/pic01.jpg' alt='articulo imagen')
						p.read-articles__description.textos
							| Maecenas dignissim porttitor lacus ut posuere. Nulla ultrices ex ut ipsum tincidunt, quis dapibus ante consectetur. Sed vitae quam sed dolor mattis sodales at at ligula.
				article.read-articles__article
					.read-articles__d2
						h4.read-articles__title In hac habitasse platea
						.read-articles__imagen
							img(src='images/pic02.jpg' alt='articulo imagen')
						p.read-articles__description.textos
							| Maecenas dignissim porttitor lacus ut posuere. Nulla ultrices ex ut ipsum tincidunt, quis dapibus ante consectetur. Sed vitae quam sed dolor mattis sodales at at ligula.
		.contenedor
			section.services
				.services-service
					i.fas.fa-laptop.services-service__icon(style='color: #b3b3b3;')
					h4.no-margin.services-service__title tempus feugiat
					p.no-margin.services-service__text.textos
						| Praesent ultricies ultrices vehicula. Ut nec facilisis arcu, quis volutpat elit. Vestibulum tristique, dolor non sodales ornare, est nibh consequat ex.
					a.boton.boton--secundario(href='#') Learn More
				.services-service
					i.far.fa-gem.services-service__icon(style='color: #b3b3b3; font-weight: normal;')
					h4.no-margin.services-service__title tempus feugiat
					p.no-margin.services-service__text.textos
						| Praesent ultricies ultrices vehicula. Ut nec facilisis arcu, quis volutpat elit. Vestibulum tristique, dolor non sodales ornare, est nibh consequat ex.
					a.boton.boton--secundario(href='#') Learn More
				.services-service
					i.fas.fa-taxi.services-service__icon(style='color: #b3b3b3;')
					h4.no-margin.services-service__title tempus feugiat
					p.no-margin.services-service__text.textos
						| Praesent ultricies ultrices vehicula. Ut nec facilisis arcu, quis volutpat elit. Vestibulum tristique, dolor non sodales ornare, est nibh consequat ex.
					a.boton.boton--secundario(href='#') Learn More
		footer.footer
			.contenedor
				h3.footer__title Get in touch
				form.formulario
					.campo
						label.campo__label(for='name') Name
						input#name.campo__input(type='text' autocomplete='off')
					.campo
						label.campo__label(for='email') Email
						input#email.campo__input(type='email' autocomplete='off')
					.campo.campo-textarea
						label.campo__label(for='message') Message
						textarea#message.campo__input.campo__input--textarea
					input.boton.formulario__send(type='submit' value='Send message')
					p.formulario-text &copy; Untitled Design: TEMPLATED. Images Unsplash