extends layout.pug

block content
	section.banner-bg
		.contenedor.contenedor-banner
			h2.no-margin.banner-bg__title
				| Introspect: 
				span.banner-bg__span
					| A free + Fully Responsive
					br
					| Site Template By Templated
			a.boton(href='#') Get Started
	.contenedor.entrada
		h3.no-margin.entrada__title Nustra historia
		p.no-margin.entrada__description.textos
			| Somos una plataforma de publicación de blogs que permite a los usuarios registrados compartir sus pensamientos y opiniones con el mundo. Nuestro objetivo es proporcionar una plataforma fácil de usar y accesible para que cualquier persona pueda compartir su voz. Comenzamos como un proyecto de pasatiempo hace unos años, pero rápidamente nos dimos cuenta del potencial que tenía nuestra plataforma. Desde entonces, hemos trabajado duro para mejorar y expandir nuestra plataforma para que sea más fácil de usar y más accesible para todos...
		a.boton.boton--secundario(href='/somos') Leer más
	section.read-articles
		.read-articles__contenedor
			article.read-articles__article
				.read-articles__d1
					h4.read-articles__title In hac habitasse platea
					.read-articles__imagen
						img(src='images/pic01.jpg' alt='articulo imagen')
					p.read-articles__description.textos
						| Maecenas dignissim porttitor lacus ut posuere. Nulla ultrices ex ut ipsum tincidunt, quis dapibus ante consectetur. Sed vitae quam sed dolor mattis sodales at at ligula.
			article.read-articles__article
				.read-articles__d2
					h4.read-articles__title In hac habitasse platea
					.read-articles__imagen
						img(src='images/pic02.jpg' alt='articulo imagen')
					p.read-articles__description.textos
						| Maecenas dignissim porttitor lacus ut posuere. Nulla ultrices ex ut ipsum tincidunt, quis dapibus ante consectetur. Sed vitae quam sed dolor mattis sodales at at ligula.
	.contenedor
		section.services
			.services-service
				i.fas.fa-laptop.services-service__icon(style='color: #b3b3b3;')
				h4.no-margin.services-service__title tempus feugiat
				p.no-margin.services-service__text.textos
					| Praesent ultricies ultrices vehicula. Ut nec facilisis arcu, quis volutpat elit. Vestibulum tristique, dolor non sodales ornare, est nibh consequat ex.
				a.boton.boton--secundario(href='#') Learn More
			.services-service
				i.far.fa-gem.services-service__icon(style='color: #b3b3b3; font-weight: normal;')
				h4.no-margin.services-service__title tempus feugiat
				p.no-margin.services-service__text.textos
					| Praesent ultricies ultrices vehicula. Ut nec facilisis arcu, quis volutpat elit. Vestibulum tristique, dolor non sodales ornare, est nibh consequat ex.
				a.boton.boton--secundario(href='#') Learn More
			.services-service
				i.fas.fa-taxi.services-service__icon(style='color: #b3b3b3;')
				h4.no-margin.services-service__title tempus feugiat
				p.no-margin.services-service__text.textos
					| Praesent ultricies ultrices vehicula. Ut nec facilisis arcu, quis volutpat elit. Vestibulum tristique, dolor non sodales ornare, est nibh consequat ex.
				a.boton.boton--secundario(href='#') Learn More
	footer.footer
		.contenedor
			h3.footer__title Get in touch
			form.formulario
				.campo
					label.campo__label(for='name') Name
					input#name.campo__input(type='text' autocomplete='off')
				.campo
					label.campo__label(for='email') Email
					input#email.campo__input(type='email' autocomplete='off')
				.campo.campo-textarea
					label.campo__label(for='message') Message
					textarea#message.campo__input.campo__input--textarea
				input.boton.formulario__send(type='submit' value='Send message')
				p.formulario-text &copy; Untitled Design: TEMPLATED. Images Unsplash
