doctype html
html(lang="es")
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title= title
		link(rel='preload' href='css/normalize.css' as='style')
		link(rel='stylesheet' href='css/normalize.css')
		link(rel='preload' href='https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Pacifico&display=swap' crossorigin='crossorigin' as='font')
		link(href='https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Pacifico&display=swap' rel='stylesheet')
		link(rel='preload' href='https://use.fontawesome.com/releases/v5.12.1/css/all.css' crossorigin='anonymous' as='font')
		link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.12.1/css/all.css' crossorigin='anonymous')
		link(rel='preload' href='css/styles.css' as='style')
		link(rel='stylesheet' href='css/styles.css')
	body
		.top-header__options
			.contenedor.top-header__contenedor
				p.text-location
					i.fas.fa-map-marker-alt
					| Popayan, Cauca - Colombia
				.social-network--login
					.social-network
						a(href='#')
							i.fab.fa-twitter
						a(href='#')
							i.fab.fa-facebook-f
						a(href='#')
							i.fab.fa-instagram
						a(href='#')
							i.fab.fa-youtube
					.social--login
						a.login(href='/login') Login
						a.login(href='/signup') Signup
		header.header
			.contenedor.header-contenedor
				.logo
					a.no-margin.logo__title(href='/')
						| introspect
				nav.navigation
					a.navigation__link(href='/') Inicio
					a.navigation__link(href='/somos') Somos
					a.navigation__link(href='#') Blog
					a.navigation__link(href='#') Contactanos
		block content
		script(src="/js/codigo.js")
