extends dashboard.pug

block content
	div.dashboard-profile__user
		div.dashboard-profile__user-header
			p.dashboard-profile__user-heading Perfil
			a.dashboard-profile__user-link(href="#") Actualizar información
		div.dashboard-profile__user-content
			div.dashboard-profile__user-content-block1
				img.dashboard-profile__user-content-image(src="/images/dashboard/tjmiller.jpg")
				p.fline-height.dashboard-profile__user-content-fullname Juan Sebastian Moriones
				p.fline-height.dashboard-profile__user-content-working Desarrollador de Software
			div.dashboard-profile__user-content-block2
				form.formulario-dashboard-userProfile(action="#", method="POST")
					div
						label.fline-height(for="fn") Primer Nombre
						input.fline-height.campo__input(type="text", name="firstName_txt", id="fn", required)
					div
						label.fline-height(for="ln") Segundo Nombre
						input.fline-height.campo__input(type="text", name="lastName_txt", id="ln", required)
					div
						label.fline-height(for="email") Correo electronico
						input.fline-height.campo__input(type="email", name="email_txt", id="email", required)
					div
						label.fline-height(for="nphone") Celular
						input.fline-height.campo__input(type="number", name="firstName_txt", id="nphone", required)
					div
						label.fline-height(for="nickname") Nickname
						input.fline-height.campo__input(type="text", name="nickname_txt", id="nickname", required)
					div.select-pais
						label.fline-height(for="pais") Pais
						select.fline-height(name="pais_slc", id="pais", required)
							option(value="Colombia") Colombia
							option(value="Peru") Peru
							option(value="Ecuador") Ecuador
							option(value="Venezuela") Venezuela
							option(value="México") México
					div
						label.fline-height(for="area_working") Area de trabajo
						input.fline-height.campo__input(type="text", name="areaWorking_txt", id="area_working", required)
					div.div-btn-profile
						input.campo__btn(type="submit", value="Guardar información", id="send-profile-info")
