:root{
	--fuenteLogo: "Pacifico", cursive;
	--fuenteParrafos: "Lato", sans-serif;
	--primario: #e5474b;
	--blanco: #FFFFFF;
	--negro: #111111;
	--grisOscuro: #f3f3f3;
	--grisClaro: #f7f7f7;
	--grisTexto: #595959;
	--grisIcono: #b3b3b3;
}
html {
	font-size: 62.5%; /* 1rem = 10px */
	scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
*, *:after, *:before{
	box-sizing: border-box;
	margin:0;
	padding: 0;
}
body {
	font-size: 1.6rem;
	font-family: var(--fuenteParrafos);
	line-height: 2;
	color: var(--negro);
}


/* Globales */
.contenedor {
	max-width: 120rem;
	width: 90%;
	margin: 0 auto;
}
a{ text-decoration: none; }
a:hover{ text-decoration: underline; }
h1, h2, h3, h4{ line-height: 1.2; }
h1{font-size: 4.8rem;}
h2{font-size: 4rem;}
h3{font-size: 3.2rem;}
h4{font-size: 2.8rem;}
img{max-width: 100%;}


/* Utilidades */
.no-margin{ margin:0; }
.no-padding{ padding:0; }
.centrar-text{ text-align: center; }
.textos{
	letter-spacing: .8px;
	color: var(--grisTexto);
}
.dnone{display:none;}
.fline-height{line-height: normal;}

/** breadcrumb **/
.breadcrumb-nav{margin-bottom: 3rem;}
.breadcrumb{
	display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}
.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #6c757d;
    content: "/";
}
.breadcrumb-item a{
	color: #007bff;
}
.breadcrumb-item a:hover {
    color: #0056b3;
    text-decoration: underline;
}
/** Top Header option **/
.top-header__options{
	background-color: #f3f3f3;
    color: var(--negro);
    padding: 0.3rem 0;
}
.top-header__contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
	font-size: 1.5rem;
}
.top-header__contenedor .text-location{
	display: flex;
    align-items: center;
}
.top-header__contenedor .text-location i{
	font-size: 1.8rem;
    color: #e5474a;
    margin-right: 1rem;
}
@media (max-width: 900px){ .top-header__options{display:none;} }
.social-network{
	font-size: 1.9rem;
    display: flex;
    column-gap: 1rem;
}
.social-network--login .social-network{
    font-size: 1.8rem;
}
.social-network a {
    height: 3rem;
    width: 3rem;
    display: grid;
    place-content: center;
	padding: 0 1.8rem;
}
.social-network a:nth-child(2) {
    border-left: 1px solid var(--primario);
    border-right: 1px solid var(--primario);
}
.social-network a:nth-child(3) {
    border-right: 1px solid var(--primario);
}
.social-network a i {
    color: var(--primario);
}
.social--login, .social-network--login{
	display: flex;
    align-items: center;
    column-gap: 2rem;
}
.social-network--login{column-gap: 4rem;}
.social-network--login a.login {
    color: var(--negro);
	font-weight: bold;
}

.social-network--login a.login:hover, .social-network a i:hover{
    color: var(--primario);
	text-decoration: underline;
}
/** Header **/
.header{
	background-color: var(--negro);
	color: var(--blanco);
	padding: 1rem 0;
}
.header-contenedor{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@media (min-width: 768px) {
	.header-contenedor{
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}
@media (min-width: 890px){ .navigation-mobile-open, .navigation-mobile-close{display:none;} }
@media (max-width: 890px){
	.hideNavigationMob{
		visibility: hidden;
	    transform: translateX(-1500px);
	}
	.header-contenedor .navigation{
		position: fixed;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    width: 25rem;
	    max-width: 90%;
	    background-color: #212121;
	    flex-direction: column;
	    justify-content: flex-start;
	    align-items: flex-start;
	    padding: 3rem 0;
    	transform: translateX(-700px);
	}
	.navigation-overflow{
		position: fixed;
	    left: 0;
	    right: 0;
	    height: 100%;
	    top: 0;
	    background-color: #2121218a;
	}
	.navigation-mobile-open i{color: white;font-size: 2.5rem;vertical-align: middle;}
	.navigation-mobile-close i{
		color: var(--primario);
	    font-size: 3rem;
	    vertical-align: middle;
	    line-height: normal;
	}
	.navigation-mobile-close{
		position: absolute;
	    right: 3rem;
	    top: 3rem;
	    background-color: #FFF;
	    padding: 0rem 1rem;
		transition: .3s all ease-in-out;
		border-radius: 10px 0 10px 0;
	}
	.navigation-mobile-close:hover{
	    background-color: var(--primario);
	    color: #FFF;
	}
	.navigation-mobile-close:hover i{
	    color: #FFF;
	}
	.showMenuMobOverlay{
		visibility:visible;
		transform: translateX(0px);
		transition-duration: .8s;
		transition-property: transform;
	}
	.shoMenuMob{
		transform: translateX(0px)!important;
		transition-duration: 2s;
		transition-property: transform;
	}
	.hideMenuMobOverlay{
		visibility:hidden;
		transform: translateX(-1500px);
		transition-duration: 3s;
		transition-property: transform;
	}
	.hideMenuMob{
		transform: translateX(-700px);
		transition-duration: .5s;
		transition-property: transform;
	}
}
@media (min-width: 768px) {
	.logo{
		flex: 1;
	}
}
.logo__title{
	color: var(--primario);
	font-family: var(--fuenteLogo);
	font-weight: 400;
	line-height: 2;
	font-size: 3.2rem;
}

.navigation{
	display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px) {
	.navigation{
		flex: 3;
		flex-direction: row;
    	justify-content: flex-end;
	}
}
@media (max-width: 320px){
	.logo__title{font-size: 2.5rem;}
	.header-contenedor {flex-direction: column;}
}
.navigation__link{
    padding: 0 3rem;
    color: var(--blanco);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
	transition: .5s ease opacity;
}
.navigation__link:hover{
	opacity: .7;
}

/** Banner **/
.banner-bg {
	background-image: url(../images/banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 41%;
    height: 46rem;
}
@media (min-width: 1280px) {
	.banner-bg {
		background-position: top center;
		height: 54rem;
	}
}
@media (max-width: 780px) {
	.banner-bg{
	    background-position: left top;
	}
}
.contenedor-banner{
	display:flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	height: 100%;
}
.banner-bg__title, .boton{
	color: var(--blanco);
	text-transform: uppercase;
}
.banner-bg__title{
	font-weight: bold;
	letter-spacing: 3px;
	font-size: 3.5rem;
	line-height: 1.5;
}
@media (max-width: 768px) {
	.banner-bg__title{
		font-size: 2.6rem;
	}
}
.banner-bg__span{
	font-weight: normal;
}
.boton{
	border: 1px solid var(--blanco);
	font-weight: bold;
	padding: 1rem 3rem;
	display: inline-block;
	transition: .3s all ease-in-out;
	cursor: pointer;
}
.boton--secundario{
	border: 2px solid var(--primario);
	color: var(--primario);
}
.boton--secundario:hover {
    background-color: #e5474b30;
}
/** Entrada **/
.entrada{
	padding: 10rem 0;
}
.entrada__title{
	text-transform: uppercase;
	font-size: 3rem;
	color: var(--primario);
}
.entrada__description{
	margin: 4rem 0;
}

/** read-articles **/
.read-articles__title{
	color: var(--primario);
	text-transform: uppercase;
}
.read-articles__imagen img{
	width: 100%;
}
.read-articles__article{display: flex;justify-content: center;padding: 6rem 0;}
.read-articles__article:first-child{
	background-color: var(--grisOscuro);
}
.read-articles__article:last-child{
	background-color: var(--grisClaro);
}
.read-articles__d1, .read-articles__d2{
	width: 90%;
}
@media (min-width: 768px) {
	.read-articles__contenedor{
		display: grid;
	    grid-template-columns: repeat(2, 1fr);
	}
	.read-articles__d1{padding-right: 9rem;}
	.read-articles__d2{padding-left: 9rem;}
	.read-articles__d1, .read-articles__d2{
		max-width: 60rem;
		width: 90%;
	}
	.read-articles__article:first-child{
		justify-content: flex-end;
	}
	.read-articles__article:last-child{
		justify-content: flex-start;
	}
}
/* Servicios */
@media (min-width: 768px) {
	.services{
		grid-template-columns: repeat(3, 1fr);
	}
}
.services{
	display: grid;
	column-gap: 3rem;
	padding: 10rem 0;
}
.services-service{
	margin-bottom: 6rem;
}
.services-service:last-of-type{
	margin-bottom: 0;
}
@media (min-width: 768px) {
	.services-service{
		margin-bottom: 0;
	}
}
.services-service__icon{
	font-size: 4.2rem;
	margin-bottom: 3rem;
}
.services-service__title{
	color: var(--primario);
	text-transform: uppercase;
	font-size: 2.5rem;
}
.services-service__text{
	margin: 2.5rem 0;
}
/* Footer */
.footer{
	background-color: var(--primario);
	padding: 5rem 0;
}
.footer__title{
	text-transform: uppercase;
	color: var(--blanco);
	display: inline-block;
}
@media (min-width: 768px) {
	.formulario{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 3rem;
	}
}
.campo__label{
	color: var(--blanco);
	font-size: 1.5rem;
	text-transform: uppercase;
	display: block;
	margin-bottom: 1rem;
	font-weight: 600;
}
.campo__input{
	outline: none;
    border: 3px solid rgb(255 255 255 / 21%);
    background-color: var(--primario);
    width: 100%;
    color: #FFF;
    padding: 1rem;
}
.campo__input:focus{
	border-color: #FFF;
}
.formulario__send{
	background-color: transparent;
	border: 2px solid #FFF;
	cursor: pointer;
	transition: .5s ease background-color;
	width: fit-content;
    margin-top: 3rem;
}
.formulario__send:hover{
	background-color: #ffffff30;
}
.campo__input--textarea{
	resize: none;
	height: 25rem;
}
@media (min-width: 768px) {
	.campo-textarea{
		grid-column: 1 / 3;
		margin-top: 4rem;
	}
}
.formulario-text {
    color:#ffffff61;
    grid-column: 1 / 3;
    font-size: 1.4rem;
    margin-top: 3rem;
    display: inline-block;
}
/* Eliminando paddings en pantallas pequeñas */
@media (max-width: 780px) {
	.entrada, .services{
		padding: 3rem 0;
	}
	.read-articles__article, .footer{
		padding: 0 0;
	}
}
/* Formulario de Alta */
.signup{
	margin: 8rem auto;
}
.signup .signup-title{
	font-size: 2.5rem;
}
.signup-formulario, .login-formulario{ display: block; }

.signup-formulario .campo__input, .login-formulario .campo__input, .formulario-dashboard-userProfile .campo__input{
	background-color: transparent;
    border: 3px solid rgb(229 71 75 / 21%);
    color: #616161;
	padding: 1.2rem;
	font-size: 1.8rem;
}
.login-formulario .campo__input, .formulario-dashboard-userProfile .campo_input {
    background-color: #FFF;
}
.signup-formulario .campo, .login-formulario .campo{ margin-bottom: 1.8rem; }

.signup-formulario .campo__input:focus, .login-formulario .campo__input:focus, .formulario-dashboard-userProfile .campo__input:focus, .formulario-addPost textarea:focus{
	border: 3px solid var(--primario);
}

.signup-formulario .formulario__send, .signup-formulario .formulario__inicio, .login-formulario .formulario__send{
	font-size: 1.4rem;
	transition: .2s opacity ease-in-out;
	background-color: var(--primario);
	padding: 1.5rem 3rem;
    line-height: 1.4rem;
}

.signup-formulario .formulario__inicio{ background-color: var(--grisTexto); margin-left: 2.5rem;}

.signup-formulario .formulario__send:hover, .signup-formulario .formulario__inicio:hover, .login-formulario .formulario__send:hover{
	opacity: .9;
}

.signup-formulario .formulario__send:active, .signup-formulario .formulario__inicio:active, .login-formulario .formulario__send:active{
    opacity: 1;
}

.message-true, .message-false{
	text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    background-color: #4CAF50;
    color: #FFF;
}

.message-false{ background-color: var(--primario); }

.formulario__signug-link{
	color: var(--grisIcono);
    margin-top: 1rem;
    display: block;
    text-transform: uppercase;
    font-size: 1.4rem;
}
.formulario__signug-link a{ font-weight: bold; color: #000; }
.formulario__signug-link a:hover{ text-decoration: underline;}
/* Formulario de Acceso (Login) */

.login-contenedor{

}
.login-content{
	max-width: 42rem;
    margin: 4rem auto;
    width: 100%;
    text-align: center;
    padding: 2rem;
    background-color: var(--grisOscuro);
    border-radius: 5rem 0;
}

.login-content .logo__title{
	margin-bottom: 2rem;
    display: block;
    font-size: 3.5rem;
}

.login-formulario .formulario__send{margin-top: 3rem; width:100%;}

.login-formulario .campo__label {
    color: #7e7e7e;
    margin: 0;
    text-align: left;
    text-transform: math-auto;
    font-weight: normal;
}







.dashboard-contenedor {position: relative;}
.dashboard-panel-left {
	position: fixed;
	width: 25rem;
	max-width: 100%;
	height: 100%;
	z-index: 1;
	top: 0;
}
.dashboard-panel-contenedor {
	background-color: #f6f7fa;
	margin-left: 25rem;
	position: relative;
}
.dashboard-panel__header {
	position: fixed;
	top: 0;
	right: 0;
	left: 25rem;
	z-index: 1;
	background-color: var(--blanco);
	padding: 1rem 3rem;
	display:flex;
    box-shadow: 0 0px 5px #dfdfdf;
}
.dashboard-panel-content {padding-top: 7rem;}








/* Dashboard */
/*.body-dashboard{
	display: grid;
    grid-template-columns: auto 1fr;
}*/
/*.dashboard-contenedor{
	display: grid;
    grid-template-columns: minmax(20rem, 1fr) 5fr;
	height: 100vh;
}*/
.body-dashboard{
	background-color: #f6f7fa;
}
.dashboard-panel-left{
	background-color: #0e1a35;
}
.dashboard-panel-left .logo{text-align: center;}
.dashboard-navigation{
	margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.dashboard-navigation-link{
	padding: 1.8rem 1rem;
    font-size: 1.8rem;
    color: var(--blanco);
	border-left: 5px solid transparent;
	transition: .1s all ease-in-out;
}
.dashboard-navigation-link i{ color: #5584ff; margin-right: 15px; }
.dashboard-navigation-link-active, .dashboard-navigation-link-active:hover{
	border-left: 5px solid #5584ff;
	background-color: #122143;
}
.dashboard-navigation-link:hover{text-decoration: underline; color: #5584ff;}
.dashboard-panel__form{flex:1 1 40%;}
.dashboard-panel__form-input{
	outline: none;
    padding: 1.2rem 0.8rem;
    border-radius: 2rem;
    border: 1px solid #d3d3d3;
    width: 100%;
    color: var(--grisTexto);
    padding-left: 1.8rem;
	transition: .3s background-color ease-in-out;
}
.dashboard-panel__form-input:focus{background-color: #f8f8f8;}

.dashboard-panel__header-options{
	display: flex;
	column-gap: 1.5rem;
	align-items: center;
	flex: 1 1 35%;
	justify-content: flex-end;
}
.dashboard-panel__header-btn, .dashboard-profile__user-link{
	background-color: #5584ff;
    border-radius: 100px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 16px;
	transition: .2s opacity ease-in-out;
}
/*@media (max-width: 820px){
	.dashboard-panel-left .logo .logo__title{font-size: 2.8rem;}
	.dashboard-contenedor{
		grid-template-columns: 1fr;
	    row-gap: 0;
	    grid-template-rows: auto 5fr;
	}
	.dashboard-navigation{
		max-height: 0;
	    transition: max-height 0.15s ease-out;
	    overflow: hidden;
		margin-top: 0;
    	grid-area: menu;
	}
	.transitionMenuDash{
		max-height: 500px;
    	transition: max-height 0.25s ease-in;
	}
	.dashboard-panel-left{
		background-color: #0e1a35;
		display: grid;
	    grid-template-areas:
	        "logo showMenu"
	        "menu menu";
	    align-items: center;
	    grid-template-rows: 75px auto;
	}
	.dashboard-panel-left .logo {
	    grid-area: logo;
	    justify-self: flex-start;
		padding-left: 1.5rem;
	}
	.navigation-mobile-dashboard{
		grid-area: showMenu;
	    justify-self: flex-end;
		padding-right: 1.5rem;
	}
	.dashboard-navigation-link{ font-size: 1.5rem;}
}*/
@media (max-width: 890px){
	.dashboard-panel-left .logo .logo__title{font-size: 2.8rem;}
	.dashboard-contenedor{
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 0;
		grid-template-rows: auto 5fr;
	}
	.dashboard-navigation{
		max-height: 0;
		transition: max-height 0.15s ease-out;
		overflow: hidden;
		margin-top: 0;
		grid-area: menu;
	}
	.transitionMenuDash{
		max-height: 500px;
		transition: max-height 0.25s ease-in;
	}
	.dashboard-panel-left{
		background-color: #0e1a35;
		display: grid;
		grid-template-areas:
			"logo showMenu"
			"menu menu";
		align-items: center;
		grid-template-rows: 75px auto;
		position: static;
		width: inherit;
		height: inherit;
	}
	.dashboard-panel__header{display:none;}
	.dashboard-panel-left .logo {
		grid-area: logo;
		justify-self: flex-start;
		padding-left: 1.5rem;
	}
	.navigation-mobile-dashboard{
		grid-area: showMenu;
		justify-self: flex-end;
		padding-right: 1.5rem;
	}
	.dashboard-navigation-link{ font-size: 1.5rem;}
	.dashboard-panel-content{
		    padding-top: 0;
	}
	.dashboard-panel-contenedor{
		margin-left: 0;
	}
}
.formulario-addUser__btnUploadImage{
	visibility: hidden;
	display: flex;
	width: 28rem;
	max-width: 100%;
	height: 5rem;
	position: relative;
}
.formulario-addUser__btnUploadImage:after {
	content: "\f093";
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    cursor: pointer;
    padding: 1rem 1.8rem;
    border: 2px solid var(--primario);
    color: #565656;
    font-size: 1.9rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
	transition: .5s all ease-in-out;
}
.formulario-addUser__btnUploadImage:before {
    content: "Agregar una imagen";
    position: relative;
    visibility: visible;
    line-height: 4.5rem;
    padding-left: 5rem;
    font-size: 1.6rem;
    color: var(--primario);
    text-transform: uppercase;
    font-weight: 600;
}
.formulario-addUser__btnUploadImage:hover::after {
    background-color: #e5474b17;
}
.dashboard-panel__header-btn:hover, .dashboard-profile__user-link:hover{opacity: .85;}
.dashboard-panel__header-btn i{margin-right: .5rem;}
.dashboard-panel__header-message, .dashboard-panel__header-notification{
	position: relative;
}
.dashboard-panel__header-notification .icon, .dashboard-panel__header-message .icon {
	color: #0e1a35;
    font-size: 1.8rem;
}
.dashboard-panel__header-notification_panel, .dashboard-panel__header-message_panel{
	position: absolute;
    background-color: black;
    color: white;
    padding: 1rem;
    padding-left: 2.5rem;
}
.dashboard-panel__header-user{position:relative;}
.dashboard-panel__header-user-link{
	display: flex;
	align-items: center;
}
.dashboard-panel__header-user-link .imagen-avatar{width: 4.8rem;margin-right: 5px}
.dashboard-panel__header-user-link .caret{
	display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.dashboard-panel__header-user-menu{
	position: absolute;
    top: 106%;
    width: 18rem;
    right: 0;
    background-color: var(--blanco);
    box-shadow: 3px 3px 5px gray;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
	transition: 0.3s all ease-in-out;
	opacity: 0;
	transform: translateY(-200%);
}
/*.dashboard-panel__header-user-link:hover + .dashboard-panel__header-user-menu {
    opacity: 1;
    transform: translateY(0px);
}*/
.showPanMenu{opacity: 1; transform: translateY(0);z-index: 1;}
.dashboard-panel__header-user-menu .username{
	border-bottom: 1px solid #e7e7e7;
    padding-bottom: 0.8rem;
}
.dashboard-panel__header-user-menu .username-btn{
	font-size: 1.6rem;
    padding: 2px 0;
    display: block;
    margin-top: 1.5rem;
}
.dashboard-panel-content{
	margin: 1.5rem auto;
	width: 95%;
	padding-bottom: 5rem;
	margin-bottom: 0;
}
.dashboard-users__show{
	width: 100%;
    padding: 1.8rem;
}
/* Dashboard Profile User */
.dashboard-profile__user{
}
.dashboard-profile__user-header{
	display: flex;
    align-items: center;
    justify-content: space-between;
}
.dashboard-profile__user-heading{
	color: #5584ff;
	font-size: 2.8rem;
}
.dashboard-profile__user-link{
	background-color: var(--primario);
    border-radius: 1rem;
}
.dashboard-profile__user-content{
	display: flex;
	justify-content: space-between;
    align-items: start;
	column-gap: 3rem;
	margin-top: 1rem;
}
.dashboard-profile__user-content-block1,
.dashboard-profile__user-content-block2{
	background-color: var(--blanco);
	padding: 2rem;
	box-shadow: 0px 0px 6px #8c8c8c52;
}
.dashboard-profile__user-content-block1{
	flex: 1 0 30%;
	text-align: center;
	padding: 5rem 2rem;
}
.dashboard-profile__user-content-fullname{
	font-size: 2rem;
    font-weight: bold;
    color: #0e1a35;
    margin-top: 1.2rem;
}
.dashboard-profile__user-content-working{font-size: 1.7rem;margin-top: 0.5rem;}
.dashboard-profile__user-content-image{
	margin: 0 auto;
	width: 20rem;
	height: 20rem;
	position: relative;
}
.dashboard-profile__user-content-image img{
	border-radius: 50%;
	width: 100%;
	object-fit: cover;
	height: 100%;
}
.link-change-photo-profile{
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    background-color: #e5474b7a;
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.link-change-photo-profile i{ font-size: 2.5rem; }
.link-change-photo-profile p{
	line-height: normal;
    font-size: 1.3rem;
    margin-top: 0.8rem;
    text-transform: uppercase;
    text-wrap: wrap;
}
.dashboard-profile__user-content-image:hover > .link-change-photo-profile{
	display: flex;
}
.dashboard-profile__user-content-close-link{
	display: block;
    margin-top: 2.5rem;
    color: var(--primario);
    font-size: 1.7rem;
}
.dashboard-profile__user-content-close-link:hover{text-decoration: underline;}
.dashboard-profile__user-content-close-link i{margin-right: 1rem;}
.dashboard-profile__user-content-block2{
	flex: 1 0 65%;
}
@media (max-width: 820px){
	.dashboard-profile__user-content{
		flex-direction: column;
	    align-items: normal;
	    justify-content: center;
	    row-gap: 2rem;
	}
	.dashboard-profile__user-content-block1, .dashboard-profile__user-content-block2{
		flex: 1 1 100%;
	    padding: 2rem;
	}
}
.formulario-dashboard-userProfile div {
    margin-bottom: 1.5rem;
}
.formulario-dashboard-userProfile .campo__input{
	border: 0;
	border-bottom: 3px solid rgb(229 71 75 / 21%);
    padding: 0.8rem 0;
}
.formulario-dashboard-userProfile label{
	font-size: 1.6rem;
    color: #122143;
    cursor: pointer;
}
.formulario-dashboard-userProfile .campo__input:focus{
	border: 0;
	border-bottom: 3px solid var(--primario);
}
.formulario-dashboard-userProfile select, .formulario-addUser .select-pais select, .formulario-addPost .select-category select{
	border: 3px solid rgb(229 71 75 / 21%);
    color: #616161;
    padding: 0.8rem 1.2rem;
    font-size: 1.7rem;
    width: 100%;
    display: block;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.formulario-addUser .select-pais, .formulario-addPost .select-category{margin-bottom: 1.8rem;}
.select-pais, .formulario-addPost .select-category{
	position: relative;
	max-width: 32rem;
	width: 100%;
}
.select-pais:after, .formulario-addPost .select-category:after{
	content: '\f078';
    font-family: FontAwesome;
	color: var(--primario);
	font-size: 2rem;
    pointer-events: none;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 4.3rem;
    width: 4.3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.select-pais select:focus, .formulario-addPost .select-category select:focus{
	border-color: #e5474b;
    box-shadow: 0 0 0 1px #e5474b;
}
.formulario-dashboard-userProfile .campo__btn{
	background-color: #4CAF50;
    border-radius: 2rem;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 10px 28px;
    transition: .2s all ease-in-out;
    border: 0;
    cursor: pointer;
}
.formulario-dashboard-userProfile .campo__btn:hover{opacity: .8;}
.formulario-dashboard-userProfile .campo__btn:active{transform: scale(1.1);}
.formulario-dashboard-userProfile .div-btn-profile{text-align: center; margin-top: 4rem;}
.formulario-dashboard-userProfile-disabled{
	pointer-events: none;
    background-color: #9E9E9E !important;
}
.table{
	width: 100%;
	border-spacing:0;
}
.table thead{
    font-size: 1.6rem;
    color: var(--primario);
}
.table thead th {
    text-align: left;
	border-bottom: solid 3px var(--primario);
	padding: 1.3rem 0;
}
.table tbody{
    font-size: 1.7rem;
    color: #474747;
}
.table tbody tr td{
	border-bottom: solid 1px var(--primario);
}
.table tbody tr td{padding: 1.3rem 0;}
.table-action{
	padding: 0.7rem;
    background-color: #122143;
    color: white;
    border-radius: 0.8rem;
    font-size: 1.6rem;
	transition: .3s opacity ease-in-out;
}
.table-action.delete{ background-color: #bc282c;}
.table-title-heading{color: #e5474b;font-weight: bold;}
.table-header-button i{margin-right: .5rem;}
.table-action:hover, .closePopUpUserAddStyle:hover{opacity: .75;}
@media screen and (max-width: 860px) {
  .table {
    border: 0;
    margin-top: 3rem;
  }

  .table caption {
    font-size: 1.3em;
  }

  .table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .table tr {
	display: block;
	background-color: #00000021;
	margin-bottom: 2rem;
	padding: 0 0.8rem;
	border-bottom: 4px solid #b6b6b6;
  }

  .table tbody tr td {
	border-bottom: solid 1px #8b8b8b;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  .table tbody tr td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .table tbody tr td:last-child {
    border-bottom: 0;
  }


	.table .table-data-action{
		width: 50%;
	    display: inline-block;
	    text-align: center;
border-bottom: none;
	}
}
/* Overlay for Popup Add-User */
.overlay{
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #212121ad;
    z-index: 1;
}
.popUp-user, .closeWindowPost-content{
	width: 70rem;
    max-width: 90%;
    margin: 0 auto;
	margin-top: 4rem;
    background-color: #FFF;
    padding: 3rem 2rem;
	height: 85%;
    overflow-y: scroll;
}
.overlay-success{
	background-color: #ffffff80;
	display: grid;
	place-content: center;
}
.overlay-success-container{
	background-color: #ffffff;
    margin: 0 2rem;
    box-shadow: 0px 0px 10px #1919194a;
    padding: 1rem 2rem;
    font-size: 1.9rem;
    color: #3f3f3f;
	display: flex;
    align-items: center;
    justify-content: space-between;
}
.overlay-success-container i{
	font-size: 3rem;
    margin-right: 1.5rem;
    color: #4CAF50;
}
.overlay-success-container
.addUser-title{margin-bottom: 2rem;}
.overlay-error i{color: #e91e1e;}
.closePopUpUserAddStyle{
	background: #000;
    line-height: 1.4rem;
    font-size: 1.4rem;
    padding: 1.5rem 3rem;
	transition: .3s opacity ease-in-out;
}
.closeWindowUser, .closeWindowPost, .closeOverlayMessageSomos{display:none;}

/* Somos */
.somos-title-text{
	background-color: var(--grisOscuro);
	background-image: url("/images/texture.jpg");
    padding: 12rem 0;
}
.somos-title-text__pagraph {
	line-height: 8.5rem;
	font-size: 8rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}
@media (max-width: 650px){
	.somos-title-text__pagraph{
	    font-size: 6rem;
		line-height: 6.5rem;
	}
}
@media (max-width: 540px){
	.somos-title-text__pagraph{
		line-height: 5.5rem;
		font-size: 5rem;
	}
}
@media (max-width: 420px){
	.somos-title-text__pagraph{
		line-height: 4.5rem;
		font-size: 4rem;
	}
}
@media (max-width: 320px){
	.somos-title-text__pagraph{
		line-height: 3.5rem;
	    font-size: 3rem;
	}
}

.somos-title-text__pagraph span{
	color: var(--primario);
	font-family: var(--fuenteLogo);
	text-transform: capitalize;
	font-weight: normal;
}
.somos-description{
	padding: 12rem 0;
	box-shadow: 0px 0px 5px #21212187;
    position: relative;
    z-index: 1;
}
.somos-description-container{
	width: 90%;
    max-width: 58rem;
    text-align: center;
    margin: 0 auto;
}
.somos-description__text{
	font-family: 'Instrument Serif', serif;
    font-size: 2.2rem;
    color: #000;
    line-height: 3rem;
}
.somos-description-icon-small{
	text-align: center;
    width: 4rem;
    height: 4rem;
    border: 2px solid var(--primario);
    padding: 0.5rem;
    box-sizing: content-box;
    border-radius: 50%;
    display: grid;
    place-content: center;
	margin: 0 auto;
    margin-top: 5rem;
}
.somos-description-icon-small .text-icon{
	color: var(--primario);
    font-family: var(--fuenteLogo);
    font-weight: normal;
    font-size: 3.5rem;
    line-height: 3.5rem;
}
.somos-team-information{
	padding: 12rem 0;
    background-color: #f5f4f0;
}
.somos-team-information_container{
	display: grid;
    grid-template-areas:
        "figure1 figure2"
        "texto1 texto1"
        "texto2 texto2"
        "texto3 texto3";
    column-gap: 3rem;
}
.somos-team-profile:nth-child(1){grid-area: figure1;width: 70%;margin: 0 0 0 auto;}
.somos-team-profile:nth-child(2){grid-area: figure2;width: 70%;margin: 0 auto 0 0;}
.somos-team-information__text.tc1{grid-area: texto1;}
.somos-team-information__middel-text{grid-area: texto2;}
.somos-team-information__text.tc2{grid-area: texto3;}
.somos-team-information__text, .somos-team-information__middel-text, .somos-history-information__text{
	margin-top: 4rem;
    line-height: 3rem;
    font-family: 'Instrument Serif', serif;
    font-size: 2.2rem;
}
.somos-team-information__middel-text{
font-size: 2.6rem;
}
.somos-team-profile img {
    /*width: 20rem;
    height: 20rem;*/
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.somos-team-profile .somos-team-profile__caption, .somos-team-information__middel-text {
    line-height: normal;
    font-family: var(--fuenteLogo);
    color: var(--primario);
    font-size: 2rem;
}
.somos-history-information{
    background-color: var(--primario);
    color: #FFF;
	padding: 12rem 0;
}
/* Footer Somos */
.footer-somos{
	padding: 4rem 0;
}
.footer-somos-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-somos-container .logo{
	flex: .5;
    margin-right: 4rem;
}
.footer-somos-container .logo a{
	font-size: 2.8rem;
}
/*.footer-somos-container .logo, .footer-somos-container .navigation-ul, .somos-socialnetwork{flex:1;}*/
.footer-somos-container .navigation-ul{
	flex: .8;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: .6rem;
    border-right: 1px solid var(--primario);
}
.footer-somos-container .navigation-ul a{
	line-height: normal;
    font-size: 1.6rem;
    color: #797979;
    text-transform: uppercase;
    font-weight: bold;
}
.somos-socialnetwork{    flex: 1;text-align: center;}
.somos-socialnetwork a {
	color: gray;
    font-size: 1.8rem;
    width: 3.5rem;
    height: 3.5rem;
    display: inline-block;
    line-height: normal;
    border-radius: 50%;
    border: 1px solid;
}
.footer-somos-container .somos-socialnetwork a.facem{margin: 0 1.2rem;}
.somos-socialnetwork a i{vertical-align: middle;
    line-height: 3.5rem;}
.somos-socialnetwork .somos-socialnetwork__text{
	font-weight: 900;
    text-transform: uppercase;
    font-size: 1.7rem;
    margin-bottom: 2rem;
    color: #313131;
}
@media (max-width: 580px){
	.footer-somos-container{
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}
	.footer-somos-container .navigation-ul{
		border-right: none;
		align-items: center;
	    margin: 2rem 0;
	}
	.footer-somos-container .logo, .footer-somos-container .navigation-ul, .footer-somos-container .somos-socialnetwork {
	    flex: none;
	    width: 100%;
	}
	.somos-socialnetwork .somos-socialnetwork__text{margin-bottom: 0.5rem;}
}
/* Seccion Blog Landing-Page */
.blog-contenedor{
	margin:5rem auto;
}
.blog-item__presentation{
	background-color: var(--grisClaro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    border: 1px solid #e9e9e9;
    border-top: 3px solid #e9e9e9;
    border-radius: 0.5rem;
}
.blog-item__presentation-graphic{
	flex: 0 1 20%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.blog-item__presentation-content{
	flex: 0 1 78%;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.blog-item__presentation-manegePost{
	display: flex;
	align-items: center;
    column-gap: 1.5rem;
}
.blog-item__presentation-title{
	font-size: 2.5rem;
    color: var(--primario);
    font-weight: 700;
	width: fit-content;
}
.blog-item__presentation-publisher{text-align: right;}
.blog-item__presentation-description{line-height: 2.2rem}
.blog-item__presentation-ranking{
	font-size: 1.4rem;
    display: flex;
    column-gap: 0.4rem;
}
.blog-item__presentation-socialnetwork{
	display: flex;
    column-gap: 0.5rem;
}
.blog-item__presentation-socialnetwork a {color: #212121;}
.blog-item__presentation-manegePost > * {
    border-right: 1px solid gray;
    padding-right: 1.5rem;
}
.blog-item__presentation-manegePost > *:last-child {
    border-right: none;
}
.blog-item__presentation-hour-publish:before{
	content: "\f073";
	font-family: FontAwesome;
	margin-right: 0.5rem;
}
.blog-item__presentation-comments:before{
	content: "\f27a";
	font-family: FontAwesome;
	margin-right: 0.5rem;
}
@media (max-width: 900px){
	.blog-item__presentation{
		flex-direction: column;
	}
	.blog-item__presentation-graphic{
		flex: none;
	    width: 300px;
	    margin-bottom: 2rem;
	}
	.blog-item__presentation-title{
		text-align: center;
	    width: auto;
	}
	.blog-item__presentation-publisher{
		text-align: left;
	    margin: 1rem 0;
	}
	.blog-item__presentation-manegePost{
		margin-top: 1rem;
		flex-direction: column;
		align-items: flex-start;
		font-size: 1.5rem;
	}
	.blog-item__presentation-manegePost > *{
		border-right: none;
	}
}
/* Estilos para la Página de mostrar todo el contenido del Post */
.postOfBlog-mt4{margin-top: 4rem;}
.postOfBlog-contenedor{
	display: flex;
    justify-content: space-between;
    column-gap: 3rem;
}
.postOfBlog-content{
	flex: 0 1 65%;
}
.postOfBlog-right{
	flex: 0 1 30%;
}
.postOfBlog-content__title{}
.postOfBlog-content__date-publish{
	color: #6d6d6d;
    font-style: italic;
    font-size: 1.6rem;
	line-height: normal;
    margin: 1.3rem 0;
}
.postOfBlog-content__category{
    margin-bottom: 1.5rem;
	display: flex;
    column-gap: 1rem;
}
.postOfBlog-content__category span {
    background-color: #70747c;
    color: #FFF;
    font-weight: bold;
    padding: 0.3rem 0.8rem;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    line-height: normal;
}
.postOfBlog-content__textLong-content{
	font-size: 2.1rem;
    line-height: 2.8rem;
    margin-bottom: 2rem;
    color: var(--grisTexto);
}
.postOfBlog-right__box{
	border: 1px solid #CCC;
    border-radius: 0.8rem;
	margin-bottom: 3rem;
}
.postOfBlog-right__box-title{
	background-color: #00000008;
    border-bottom: 1px solid #CCC;
    padding: 1rem 1.5rem;
    line-height: normal;
    font-size: 1.8rem;
}
.postOfBlog-right__search-form{
	padding: 1.5rem;
    display: flex;
}
form.postOfBlog-right__search-form input[type=search]{
	flex: 1;
    border: 1px solid #CCC;
    border-radius: 0.8rem 0 0 0.8rem;
    outline: none;
    padding: 0.9rem 1.2rem;
    color: var(--grisTexto);
}
form.postOfBlog-right__search-form input[type=submit]{
	padding: 1rem;
    border-radius: 0 0.8rem 0.8rem 0;
    border: 0px;
    background-color: var(--primario);
    color: #FFF;
    cursor: pointer;
	transition: .2s all ease-in-out;
}
form.postOfBlog-right__search-form input[type=submit]:hover{
	background-color: #cf3f42;
}
.postOfBlog-right__listOfLink{
	padding: 0.9rem 1.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 2rem;
    row-gap: 0.2rem;
}
.postOfBlog-right__listOfLink li{list-style: none;}
.postOfBlog-right__listOfLink li a{
	color: #038fff;
    font-size: 1.55rem;
	text-decoration: underline;
}
.postOfBlog-right__listOfLink li a:hover{color: #1677c5;}
@media (max-width: 860px){
	.postOfBlog-contenedor{flex-direction: column;}
	.postOfBlog-content, .postOfBlog-right{flex: none;}
}
/* Seccion de Agregar un Post */
.addPost-title{margin-bottom: 3rem;}
.formulario-addPost textarea{
	width: 100%;
    min-height: 90px;
    resize: none;
    outline: none;
    border: 3px solid rgb(229 71 75 / 21%);
    color: #616161;
    padding: 1.2rem;
    font-size: 1.8rem;
}
.formulario-addPost textarea.content-textarea{min-height: 250px;}
.blog-posts-post-control{
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog-posts-container{margin-top: 3rem;}
.blog-posts-post{
	border-bottom: 1px solid var(--primario);
    padding-bottom: 1.5rem;
    margin-bottom: 3rem;
}
.blog-posts-post:last-child{
	border-bottom: none;
}
.blog-posts-post a{
	color: white;
    padding: 0.4rem 1rem;
    font-size: 1.8rem;
    border-radius: 0.6rem;
	transition: .1s all ease-in-out;
}
.blog-posts-post a:hover{opacity: .7;}
.blog-posts-post a:active{opacity: 1;}
.blog-posts-post__title, .post-read__title{
	color: var(--primario);
    font-size: 2.2rem;
    line-height: normal;
}
.blog-posts-post__short, .post-read__content{
	color: var(--grisTexto);
	font-size: 1.7rem;
	line-height: normal;
	margin: 1rem 0;
}
.blog-posts-post__tag, .post-read__bar-category, .post-read__bar-publish{
	background-color: var(--primario);
	color: #FFF;
	padding: 0.4rem 1rem;
	font-size: 1.8rem;
	border-radius: 0.6rem;
    line-height: normal;
}
.blog-posts-post__tag i{margin-right: .8rem;}
.blog-posts-post__see{background-color: #03A9F4;}
.blog-posts-post__edit{background-color: #4CAF50;margin: 0 1rem;}
.blog-posts-post__delete{background-color: #ed2929;}
/*Temporal*/
.formulario-addPost__radio{
	display: flex;
    align-items: center;
    line-height: 2.5rem;
    position: relative;
}
.formulario-addPost__radio input[type="radio"]:before {
	content: "";
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	border: 2px solid var(--primario);
	position: absolute;
	top: 0;
	vertical-align: middle;
	cursor: pointer;
}
.formulario-addPost__radio input[type="radio"]{
	height: 0;
}
.formulario-addPost__radio label{
	padding-left: 2.5rem;
    font-size: 2rem;
    color: var(--grisTexto);
	cursor:pointer;
}
.formulario-addPost__radio input[type="radio"]:checked::before {
	background-color: var(--primario);
    content: "\f00c";
    font-family: FontAwesome;
    color: #FFF;
    font-size: 1.6rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulario-addPost__radio.mb1-5{margin-bottom: 1.5rem}
.closeWindowPost-content{
	position:relative;
    width: 100rem;
}
.closePopUpViewPost{
	background: #000;
    line-height: normal;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 3rem;
    background-color: transparent;
    color: #fff;
    transition: .3s opacity ease-in-out;
    border: none;
    padding: 1rem;
}
.post-read{
	padding-top: 3rem;
}
.post-read__title{font-size: 2.8rem;text-align: center;}
.post-read__image{
	width: 70%;
    margin: 3rem auto;
    display: block;
}
.post-read__date{
	text-align: right;
    margin: 1rem 0;
    font-size: 1.5rem;
}
.post-read__bar{
	display: flex;
	column-gap: 1.5rem;
}
.formulario-user{
	display: flex;
    width: fit-content;
    column-gap: 2rem;
    align-items: center;
    background-color: #FFF;
    padding: 1.5rem 2rem;
    box-shadow: 0px 0px 5px #2121214d;
}
.formulario-user__image{
}
.formulario-user-info{
}
.formulario-user-info p{
	line-height: normal;
    margin-bottom: 0.5rem;
    font-size: 1.65rem;
    color: var(--grisTexto);
}
@media (max-width: 480px){
	.formulario-user{
		width: 90%;
		flex-direction: column;
	    align-items: center;
	}
	.formulario-user-info{
		text-align: center;
	    margin-top: 2rem;
	}
}
@media (min-width: 650px){
	.formulario-addPost .campo-status{
		display: grid;
	    grid-template-columns: 1fr 1fr;
	    align-items: flex-start;
	    line-height: normal;
	}
	.formulario-addPost__radio.mb1-5{margin-bottom: 0;}
}
/* Seccion de editar sitio del dashboard */
.editPage-button{
	border: 0;
    color: white;
    padding: 3rem 1.5rem;
    border-radius: 1rem;
    width: 100%;
    font-size: 2.5rem;
    text-align: left;
    cursor: pointer;
    position: relative;
	transition: .3s all ease-in-out;
    margin-bottom: 1.5rem
}
.editPage-button:after {
    font-family: 'FontAwesome';
    position: absolute;
    color: #ffffff75;
    top: 0;
    right: 2%;
    font-size: 7rem;
    bottom: 0;
    display: flex;
    align-items: center;
}

.editPage-button:hover{background-image: linear-gradient(45deg, #2121214f, #2121214f);}
.editPage-button:active{background-image: linear-gradient(45deg, transparent, transparent);transform: scale(1.03);}

.editPage-button__somos{background-color: var(--primario);}
.editPage-button__somos:after {content: "\f0c0";}

.editPage-button__users{background-color: #2196F3;}
.editPage-button__users:after {content: "\f007";}

.editPage-button__posts{background-color: #FF9800;}
.editPage-button__posts:after{content: "\f1ea";}

.editPage-button__emails{background-color: #8BC34A;}
.editPage-button__emails:after{content: "\f0e0";}
@media (max-width: 420px){
	.editPage-button{
		text-align: center;
		font-size: 2rem;
	    padding: 2rem 1.5rem;
	}
	.editPage-button:after {
	    content: none;
	}
}
/* Editando seccion de Somos */
.edit-somos-section{
	text-align: center;
}
section.edit-somos-section a img {display: block;transition: .5s all ease-in-out;width: 100%;}
.edit-somos-section a{
	display:block;
	width: 70%;
	margin: 0 auto;
	margin-bottom: 2rem;
    box-shadow: 0px 0px 3px #21212157;
}
.edit-somos-section a:hover img{opacity: .65;transform: scale(1.05);}
.message-edit-textarea, .message-for-edit{
	width: 70%;
	margin: 0 auto;
}
.message-for-edit{
	background-color: #5584ff;
    color: #FFF;
    font-size: 1.6rem;
    padding: 1rem 1.5rem;
    margin-bottom: 4rem;
	border-radius: 1rem 0 1rem 0;
}
.message-edit-textarea{
	resize: none;
	color: var(--grisTexto);
    outline: none;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    padding: 1rem;
    font-size: 1.9rem;
    height: 20rem;
    box-shadow: 0px 0px 3px #5584ff69;
	transition: .5s height ease-in-out;
}
.hide-edit-textarea{
	transition: .5s all ease-in-out;
	transform: scaleY(0);
	transform-origin: top;
    height: 0;
}
.message-response-overlay{
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.message-response{
	width: 80%;
    max-width: 70rem;
    background: #FFF;
    padding: 1rem;
    margin: auto auto;
	color: #4CAF50;
    font-size: 2.5rem;
    font-weight: 700;
}
@media (max-width: 980px){
	.edit-somos-section a, .message-edit-textarea, .message-for-edit {width: 90%;}
}
